<ion-view title="Home" hide-nav-bar="true" cache-view="false">
    <ion-content overflow-scroll="true" padding="true">
      <div class="spacer" style="width: 300px; height: 95px"></div>
      <div id="home">
        <div class="bar bar-light" id="home-logo">
          <h1 id="home-logo-main">WELIVE</h1>
          <h3>LA</h3>
        </div>
        <form class="list">
            <div class="spacer" style="width: 300px; height:320px;"></div>
            <label class="item item-input item-select" name="neighborhood">
                <span class="input-label">Neighborhood?</span>
                <select ng-model="current" ng-change="setCurrent(current)" ng-options="n.name for n in neighborhoods">
                </select>
            </label>
            <label class="item item-input item-select" name="interestPts">
                <span class="input-label">Points of Interest?</span>
                <select ng-model="poiSingle" ng-change="setPOI(poiSingle)" ng-options="i for i in poi">
                </select>
            </label>
<!--             <label class="item item-input" name="address">
                <input ng-if="poiSingle" type="text" placeholder="Address">
            </label> -->
            <button ng-click="checkEntries()" class="button button-energized button-block  icon-right ion-search">Search Apartments</button>
        </form>
      </div>
    </ion-content>
</ion-view>
