<ion-view title="Show Analysis" cache-view="false">
    <ion-content overflow-scroll="true" padding="false" ng-init="getUserApts()">
        <div class="row">
          <button class="button button-energized col"ng-click="openModal(chooseAptModal)">Choose Apartments</button>
        </div>
        <div class="list">
          <div class="item item-divider row">
            <div class="col col-25">Apartments</div>
            <div class="col">Distance</div>
            <div class="col">Price</div>
            <div class="col">Rating</div>
          </div>
          <div class="item row" ng-repeat="c in choice">
            <div class="col col-25">
              <img src="{{c.previewImage}}" style="width: 50px; height: 50px">
              <span>{{c.name}}</span>
            </div>
            <div class="col">
            </div>
            <div class="col">
              <button ng-click="noteModal.show()">Notes</button>
            </div>
            <div class="col">
            </div>
          </div>
        </div>
    </ion-content>
</ion-view>
