<ion-view title="Show Analysis" cache-view="false">
    <ion-content overflow-scroll="true" padding="false" ng-init="getUserApts()">
        <div class="row">
<!--           <button class="button button-positive col col-25" ng-if="analyses" ng-click="chooseAnalysisModal.show()">Past Analysis</button> -->
          <button class="button button-energized col" ng-click="chooseAptModal.show()">Choose Apartments</button>
        </div>
        <div class="list">
          <div class="item item-divider row">
            <div class="col col-25">
              <div class="table-header">Apts</div>
            </div>
            <div class="table-header col">
              <div class="table-header">Distance To</div>
              <select id="criteria-poi" ng-model="criteria" ng-options="p.poi for p in poi" ng-change="getDistance(criteria.poi)">
              </select>
            </div>
            <div class="table-header col">
              <div class="table-header">Price</div>
            </div>
            <div class="table-header col">
              <div class="table-header">Rating</div>
            </div>
          </div>
          <div class="item row" ng-repeat="c in choice">
            <div class="analysis-data col col-25">
              <a target="_blank" href="{{c.url}}"><img class="analysis-thumb" src="{{c.previewImage}}"></a>
              <div class="analysis-name">{{c.name}}</div>
              <button ng-click="openNote(c)">Notes</button>
            </div>
            <div class="analysis-data col">
              <div ng-if="c.currentDistance">
                <div>{{c.currentDistance.distance.text}}</div>
                <div>{{c.currentDistance.duration.text}}</div>
              </div>
            </div>
            <div class="analysis-data col col-25">
              <div>{{c.rent}}</div>
            </div>
            <div class="analysis-data col col-25">
              <div ng-if="c.rating">{{c.rating}}</div>
            </div>
          </div>
        </div>
        <div class="row">
          <button class="button button-energized col" ng-click="saveAnalysis()">Save Analysis</button>
        </div>
    </ion-content>
</ion-view>
