// SYMBOLS //
$main-ft: 'PT Sans Caption', sans-serif;
$accent-ft: 'Marck Script', cursive;
$charcoal: #32454F;
$hotred: #C0184E;
$bluegrey: #738B8E;
$lilac: #9A91C2;
$offwhite: #C6D5C9;


// HOME //
#home {
  background: url(../img/watercolor.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 246px;
  margin: auto;
  z-index: 2;
  position: relative;
}

#home-logo {
  position: absolute;
  height: 110px;
  top: 70%;
  text-align: center;
  font-size: 2em;
}

#home-logo-main {
  font-size: 3em;
}

