<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Choose Comparison Criteria</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <label>Distance to POI</label>
      <select id="criteria-poi" ng-model="criteria" ng-options="p.poi for p in poi">
      </select>
    </ion-list>
    <button class="button button-energized" ng-click="closeModal(chooseCritModal)">Done</button>
    <button class="button button-positive" ng-click="setCriteria(chooseCritModal)">Save</button>
  </ion-content>
</ion-modal-view>
