<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Choose Apartments to Compare</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-checkbox ng-repeat="listing in listings" ng-model="isChecked" ng-change="checkedOrNot(listing, isChecked, $index)" ng-init='isChecked=false'>
      <img src="{{listing.previewImage}}" style="width: 50px; height: 50px">{{listing.name}} - {{listing.rent}}
      </ion-checkbox>
    </ion-list>
    <div class="row">
      <button class="col button icon-left ion-chevron-left button-energized" ng-click="closeModal(chooseAptModal)">Back</button>
      <button class="col button button-positive" ng-click="populatePOI(chooseAptModal)">Selection Complete</button>
    </div>
  </ion-content>
</ion-modal-view>
