<ion-view title="Home">
    <ion-content overflow-scroll="true" padding="true">
        <h1>WELIVE LA</h1>
        <form class="list">
            <div class="spacer" style="width: 300px; height: 320px;"></div>
            <label class="item item-select" name="neighborhood">
                <span class="input-label">Neighborhood?</span>
                <select ng-model="current" ng-change="setCurrent(current)" ng-options="n.name for n in neighborhoods">
                </select>
            </label>
            <label class="item item-input item-select" name="interestPts">
                <span class="input-label">Points of Interest?</span>
                <select ng-model="poiSingle" ng-change="setPOI(poiSingle)" ng-options="i for i in poi">
                </select>
            </label>
            <label class="item item-input" name="address">
                <input type="text" placeholder="Address">
            </label>
            <a ui-sref="tabsController.showSearch" class="button button-stable button-block  icon-right ion-search">Search Apartments</a>
        </form>
    </ion-content>
</ion-view>
