<ion-view title="Home">
    <ion-content overflow-scroll="true" padding="true">
        <h1>WELIVE LA</h1>
        <form class="list">
            <div class="spacer" style="width: 300px; height: 320px;"></div>
            <label class="item item-select" name="Neighborhood">
                <span class="input-label">Select Your Neighborhood</span>
                <select>
                    <option>Downtown Los Angeles</option>
                    <option>Echo Park</option>
                    <option>West Hollywood</option>
                </select>
            </label>
            <label class="item item-input" name="POI">
                <span class="input-label">Primary Points of Interest</span>
                <input type="text" placeholder="Your Primary Points of Interest">
            </label>
            <a ui-sref="showResult" class="button button-stable button-block  icon-right ion-search">Search Apartments</a>
        </form>
    </ion-content>
</ion-view>