<ion-view title="Home">
    <ion-content overflow-scroll="true" padding="true">
        <h1>WELIVE LA</h1>
        <form class="list">
            <div class="spacer" style="width: 300px; height: 320px;"></div>
            <label class="item item-select" name="neighborhood">
                <span class="input-label">Neighborhood?</span>
                <select ng-options="i.name for i in neighborhoods">
                  <!-- <option ng-options="i in neighborhoods">{{i.name}}</option> -->
                </select>
            </label>
            <label class="item item-input item-select" name="interestPts">
                <span class="input-label">Points of Interest?</span>
                <select>
                  <option ng-repeat="i in poi">{{i}}</option>
                </select>
            </label>
            <label class="item item-input" name="address">
                <input type="text" placeholder="Address">
            </label>
            <a ui-sref="tabsController.showSearch" class="button button-stable button-block  icon-right ion-search">Search Apartments</a>
        </form>
    </ion-content>
</ion-view>
