<ion-modal-view>
    <ion-content overflow-scroll="true" padding="true" style='background-color: #C6D5C9'>
        <form class="list">
            <ion-list>
                <label class="item item-input" name="Email">
                    <span class="input-label">Email</span>
                    <input type="text" placeholder="Email" ng-model="user.email">
                </label>
                <label class="item item-input" name="Password">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Password" ng-model="user.password">
                </label>
            </ion-list>
        </form>
        <div class="spacer" style="height: 40px;"></div>
        <a class="button button-energized button-block" ng-click="login()">Log in</a>
        <button class="button button-clear button-block" ng-click="goSignup()">Or create an account</button>
    </ion-content>
</ion-modal-view>
