<ion-view title="Show Analysis" on-load="">
    <ion-content overflow-scroll="true" padding="false" ng-init="getUserApts()">
        <div class="spacer" style="width: 320px; height: 21px;"></div>
        <div class="row">
          <button ng-click="openModal(chooseCritModal)" class="col">Add Criteria</button>
          <button ng-click="openModal(chooseAptModal)" class="col col-75">Choose Your Apts</button>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col" ng-repeat="c in choice">
            <img src="{{c.previewImage}}" style="width: 50px; height: 50px">
            <span>{{c.name}}</span>
            <div ng-repeat="d in c.distance">{{d.poi}}-{{d.distance.duration.text}}</div>
            <button ng-click="noteModal.show()">Notes</button>
          </div>
        </div>
        <div class="row" ng-if="criterias" ng-repeat="c in criterias">
          <div col ng-model="{{c.poi}}">{{c.poi}}</div>
        </div>
    </ion-content>
</ion-view>
