// SYMBOLS //
$main-ft: 'PT Sans Caption', sans-serif;
$accent-ft: 'Marck Script', cursive;
$charcoal: #32454F !important;
$hotred: #C0184E;
$bluegrey: #738B8E;
$lilac: #9A91C2;
$offwhite: #C6D5C9;


// HOME //
#home {
  background: url(../img/watercolor.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 246px;
  margin: auto;
  z-index: 2;
  position: relative;
}

#home-logo {
  color: $charcoal;
  position: absolute;
  height: 110px;
  top: 70%;
  text-align: center;
  font-size: 1.9em;
}

#home-logo-main {
  font-size: 3em;
}

// LOGIN SIGN UP //
.modal-title {
  text-align: center;
}

#signup {
  color: #C0184E;
}

// SHOW ANALYSIS //
.distance-data {
  font-size: 10px;
}
.table-header {
  text-align: center;
  font-size: 14px;
}

.analysis-thumb {
  width: 50px;
  height: 50px;
}

.analysis-name {
  max-width: 50px;
  font-size: 10px;
}

.analysis-data {
  font-align: center;
}

//NOTE MODAL
#note {
  width: 100%;
  min-height: 200px;
}
